  <div class="container">
    <section id="categories">
      <div class="row">
        <div class="col-xs-4">
          <div class="product-cat">
            <p class="cat-name">Woman</p>
            <a href="#"><img class="cat-img" src="http://placehold.it/300x300" alt="Woman"></a>
            <p class="total">Total</p>
            <p class="prod-amount">357 Products</p>
            <a href="#"><img  class="list-icon" src="images/list.svg" alt="List"></a>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="product-cat">
            <p class="cat-name">Man</p>
            <a href="#"><img class="cat-img" src="http://placehold.it/300x300" alt="Man"></a>
            <p class="total">Total</p>
            <p class="prod-amount">416 Products</p>
            <a href="#"><img  class="list-icon" src="images/list.svg" alt="List"></a>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="product-cat">
            <p class="cat-name">Kids</p>
            <a href="#"><img class="cat-img" src="http://placehold.it/300x300" alt="Kids"></a>
            <p class="total">Total</p>
            <p class="prod-amount">232 Products</p>
            <a href="#"><img class="list-icon" src="images/list.svg" alt="List"></a>
          </div>
        </div>
      </div>
    </section>
  </div>