  <div class="container">
    <header>
      <div class="top-bar">
        <span class="phone"><i class="fa fa-phone" aria-hidden="true"></i>090 - 223 44 66</span><span class="mail"><i class="fa fa-envelope" aria-hidden="true"></i>help@trendd.com</span>
      </div>
      <div class="row brandbar">
        <div class="col-md-7 logo">
          <a href="/" routerLink="/"><img src="images/logo.png" alt="logo"></a>
        </div>
        <div class="col-md-5 login">
          <ul class="loginnav">
            <li class="divide"><a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i></a></li>
            <div class="seperator"></div>
            <li><span class="uppercase underline loginlink"><a href="#">Login</a></span></li>
            <li><button class="bevel register" href="#">Register<i class="fa fa-chevron-right regarrow" aria-hidden="true"></i></button></li>
          </ul>
        </div>
      </div>
    </header>
    <nav>
      <div class="navbar">
        <button class="menutoggle" href="#"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
        <ul class="menu">
          <li class="hvr-underline-from-center"><a href="#">Products</a></li>
          <li class="hvr-underline-from-center"><a href="#">Campaings</a></li>
          <li class="hvr-underline-from-center"><a href="#">Services</a></li>
          <li class="hvr-underline-from-center"><a href="#">Brands</a></li>
          <li class="hvr-underline-from-center"><a href="#">About us</a></li>
        </ul>
        <form class="search">
          <input class="searchbar" type="text" name="search" placeholder="Search">
        </form>
      </div>
    </nav>
  </div>