  <div class="container-fluid">
    <section>
      <div class="slider hidden-xs">
        <div class="slide1">
          <div class="slidewrap">
            <div class="row">
              <div class="col-xs-5 col-sm-4 flex-column flex-center">
                <span class="black-slide-heading">Will <br>Helm</span>
                <span class="white-slide-heading">Winter</span>
                <div class="price">
                  <button class="bevel price-amt">99.90$</button>
                  <button class="bevel price-btn">Get Now</button>
                </div>
              </div>
              <div class="col-xs-5 col-sm-8">
                <img class="shoe-img" src="images/shoe.png" alt="Shoe">
              </div>
            </div>
          </div>
        </div>
        <div class="slide2">Content 2</div>
        <div class="slide3">Content 3</div>
      </div>
    </section>
  </div>