#prod-details{
    margin-bottom: 50px;

    h1{
    margin: 0px;
    line-height: 34px;
    }

    .subheading{
        margin: 0px;
        @include font-size(22px);
        font-family: $secondary-font;
        margin-bottom: 6px;

    }
    .prodimg{
        background-color: $white;
        border: 1px solid #e0e0e0;
        margin-bottom: 5px;

    }
    .big-prod-image{
        width: 100%
    }
    .brand-img{
        margin-bottom: 30px;
    }

    .thumbnail{
        background-color: $white;
        border: 1px solid #e0e0e0;
    }

    .select-img{
        border: 8px solid red;
    }

    .reviews{
        p{
            margin: 0px;
        }
        .stars{
            @include font-size(18px);
            color: #cfc8bc;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
            
        }
        .stars i:nth-child(-n+3){
            color: $red;
        }
        
        .numreviews{
            @include font-size(11px);
            text-decoration: underline;
            font-style: italic;
        }
    }

    .beforeprice{
        align-self: flex-end;
        margin-left: auto;
        background-color: $red;
        @include font-size(28px);
        line-height: 30px;
        font-family: $secondary-font;
        text-decoration: line-through;
        color: $white;
        padding: 0px 25px;
        p{
            margin: 0px;
        }
    }

    .mb-3{
        margin-bottom: 3;
    }

    .prices{
        display: inline-block;
        width: 100%;
        max-width: 380px;
    }

    .discount{
        display: inline-block;
        text-align: center;
        padding: 0px 8px;
        p{
            margin: 8px 0 0 0;
        }
    }

    .price{
        @include font-size(72px);
        line-height: 72px;
        margin: 0px;
        font-family: $secondary-font;
    }
    .priceholder{
        background-color: $white;
        text-align: center;
        border: 1px solid #e5e5e5;
        -webkit-box-shadow: 0px -1px 0px 1px rgba(199,199,199,1);
        -moz-box-shadow: 0px -1px 0px 1px rgba(199,199,199,1);
        box-shadow: 0px -1px 0px 1px rgba(199,199,199,1);
    }

    .shortdesc{
        @include font-size(13px);
        color: #929191;
        text-align: right;
    }

    .horizontal-seperator{
        height: 1px;
        background-color: $white;
        border-top: 1px solid #cfc8bc;
        margin-top: 20px;
    }

    .shipping-information{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .selects {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    
        label{
        font-style: italic;
        font-weight: 700;
        display: block;
        }

        select, input{
            border-radius: 3px;
            border: 1px solid #e5e5e5;
            padding: 6px 10px;
        }

        input{
            width: 50px;
        }

        select{
            width: 140px;
        }

        .sizepick, .qtypick{
            display: inline-block;
            
        }

        .sizepick{
            font-style: italic;
        }

        
    }

    .not-on-stock{
        text-align: right;
        font-style: italic;
        color: $red;
    }

    .sharetext{
        text-align: right;
        @include font-size(12px);
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 2px;
    }

    .a2a_kit{
        background-color: $white;
        padding: 7px 15px;
        float: right;
        border-radius: 7px;
    }

    .a2a_svg{
        width: 16px;
        height: 16px;
    }
    .a2a_label{
        display: none;
    }


    @media screen and (max-width: 768px){
        .shortdesc{
            text-align: left;
        }
        .detail-gallery{
            margin-bottom: 30px;
        }
    }
}