button{
  @include font-size(18px);
  color: $white;
  padding: 4.5px 20px;
  text-transform: uppercase;
  border-radius: 50px 50px 50px 50px;
  border: 1px solid #ec181f;
  background: #f23434;
  background: -moz-linear-gradient(top, #f23434 0%, #e82026 100%);
  background: -webkit-linear-gradient(top, #f23434 0%,#e82026 100%);
  background: linear-gradient(to bottom, #f23434 0%,#e82026 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23434', endColorstr='#e82026',GradientType=0 );
  &:focus{
    outline: none;
  }
}

.bevel{
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,1);
-moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,1);
box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,1);
}

.price-btn{
  border-radius: 0px 50px 50px 0px;
  padding-right: 40px;
  position: relative;
  // width: 66.66%;
  margin-left: -1px;
  display: inline-block;
  &:after{
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 15px;
    font-size: 12px !important;
    padding-bottom: 5px;
    content: "ÔÅî";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &:hover:after{
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;

  }
}

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.price-amt{
  border-radius: 50px 0px 0px 50px;
  // width: 33.33%;
  @include font-size(12px);
}

button.register{
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  @include font-size(22px);
  padding: 5px 30px 5px 30px;
  border: solid #a72500 1px;
  text-decoration: none;
  transition: 0.5s;
  background: rgba(248,80,50,1);
  background: -moz-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 24%, rgba(241,111,92,1) 24%, rgba(231,56,39,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(24%, rgba(246,41,12,1)), color-stop(24%, rgba(241,111,92,1)), color-stop(100%, rgba(231,56,39,1)));
  background: -webkit-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 24%, rgba(241,111,92,1) 24%, rgba(231,56,39,1) 100%);
  background: -o-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 24%, rgba(241,111,92,1) 24%, rgba(231,56,39,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 24%, rgba(241,111,92,1) 24%, rgba(231,56,39,1) 100%);
  background: linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 24%, rgba(241,111,92,1) 24%, rgba(231,56,39,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
  align-self: flex-end;
    &:hover{
    color: $black;
  }
}

button.addcart{
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  @include font-size(22px);
  padding: 5px 30px 5px 30px;
  border: solid #a72500 1px;
  text-decoration: none; 
  text-transform: none;
  margin-left: auto;
  margin-bottom: 38px;
  display: block;
  transition: 0.5s; 
  background: rgba(248,80,50,1);
  background: -moz-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 24%, rgba(241,111,92,1) 24%, rgba(231,56,39,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(24%, rgba(246,41,12,1)), color-stop(24%, rgba(241,111,92,1)), color-stop(100%, rgba(231,56,39,1)));
  background: -webkit-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 24%, rgba(241,111,92,1) 24%, rgba(231,56,39,1) 100%);
  background: -o-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 24%, rgba(241,111,92,1) 24%, rgba(231,56,39,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 24%, rgba(241,111,92,1) 24%, rgba(231,56,39,1) 100%);
  background: linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 24%, rgba(241,111,92,1) 24%, rgba(231,56,39,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );

  &:hover{
    color: $black;
  }
}