$red: #f2262c;
$grey: #f2f2f2;
$light-grey: #f7f7f7;
$white: #ffffff;
$black: #000000;

$brand-text-black: #201f1f;
$nav-link: #444444;
$body-text: #898989;
$heading-text: #000000;
$sub-heading: #666666;
$details-text: #929191;
